<!doctype html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="./logo180.png" sizes="180x180">
    <link rel="icon" type="image/png" href="./logo180.png" sizes="192x192">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>
    {% block navbar %}
    <div class="container">
        <div class="page-header">
            <div class="navbar navbar-fixed-top">
                <div class="container">
                    <br>
                    <a href="/index" class="btn btn-info" role="button">Home</a>
                    <a href="/prediction" class="btn btn-info" role="button">Diagnostic</a>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block content %}{% endblock %}

    <div class="container">
        <footer>Lee Gyeong-Muk</footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
</body>
</html>
